html, body{
    height: 100%;
}

#wrapper{
    max-width: 960px;
    margin: auto;
    background-color: #b2c2c0;
    width: 960px;
    height: 95%;
    opacity: 0.9;
    
}

button{
    display:block;
    width:50%;
    height:20%;
    margin: 10px auto;
    cursor: pointer;
    background: rgb(206, 212, 219);
    font-size: 42px;;
    color: whitesmoke;
  }
 
h1{
    font-family: 'Molle', cursive;
    font-size: 5em;
    padding-top: 5%;
    color: whitesmoke;
}

h2{
    font-size: 35px;
    margin-bottom: 2%;
    color: whitesmoke;
}

h3{
    font-size: 25px;
    margin-bottom: 10px;
    color: whitesmoke;
}

#start{
    margin-top: 10%;
    color: whitesmoke;
}
img{
      height: 300px;
}

button:hover {
    border: 2px solid whitesmoke;
}

body{
    background-image: url(/assets/images/disney.jpg);
    text-align: center;
}